

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
    font-weight:bold;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bolder;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1{
    color: #fff;
  }
 h2 {
    text-align: center;
    color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #myImage {
    display: block;
    width: 25%; 
    height: auto; 
    margin: 0 auto; 
  }